.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 96%;
  }
  
  .select,
  .searchInput {
    padding: 8px;
    margin-right: 10px;
    margin-left: 5px;
    width: 150px;
  }

  @media screen and (max-width:768px){
    .controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      margin-left: 20px;
      margin-right: 20px;
      width: 95%;
    }
    

    .select,
    .searchInput {
      padding: 8px;
      margin-right: 10px;
      margin-left: 5px;
      width: 80px;
    }

    .title-container{
      background-color: blue;
      border-radius: 50%;
      height: 60px;
      width: 100px;
      margin-top: 10px;
    }

    .title{
      margin-top: 20px;
      font-size: 9px;
    }

    table{
      font-size: 9px;
    }

    .charts-container{
      display: flex;
      flex-direction: column;
      margin: 0px;
  }

  }


  @media screen and (min-width:768px){
  .title-container{
    background-color: blue;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin-top: 10px;
  }
  .title{
    margin-top: 50px;
  }

  .charts-container{
    display: flex;
    margin-left: 100px;

}

table{
  font-size: 24px;
}


}
  

img{
    max-width: 100px;
    height: auto;
}

table{
  border-collapse: collapse;
  width: 100%;
}

 th, td {
  padding: 8px;
  border: 1px solid #ddd;
}


.pagination {
    margin-top: 20px;
    text-align: center;
  }

  button{
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .paginationButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
  
  .currentPage {
    font-weight: bold;
  }

  
